# Фильтрация данных

**Задание №1**

Напишите SQL-запрос к таблице **products** и выведите всю информацию о товарах, цена которых не превышает 100 рублей. Результат отсортируйте по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**, **price**
```sql
SELECT product_id,
       name,
       price
FROM   products
WHERE  price <= 100
ORDER BY product_id
```

**Задание №2**

Отберите пользователей женского пола из таблицы users. Выведите только id этих пользователей. Результат отсортируйте по возрастанию id.

Добавьте в запрос оператор **LIMIT** и выведите только 1000 первых id из отсортированного списка.

Поле в результирующей таблице: **user_id**
```sql
SELECT user_id
FROM   users
WHERE  sex = 'female'
ORDER BY user_id 
LIMIT 1000
```

**Задание №3**

Отберите из таблицы **user_actions** все действия пользователей по созданию заказов, которые были совершены ими после полуночи 6 сентября 2022 года. Выведите колонки с id пользователей, id созданных заказов и временем их создания.

Результат должен быть отсортирован по возрастанию id заказа.

Поля в результирующей таблице: **user_id**, **order_id**, **time**
```sql
SELECT user_id,
       order_id,
       time
FROM   user_actions
WHERE  action = 'create_order'
   AND time >= '2022/09/06 00:00:00'
ORDER BY order_id
```

**Задание №4**

Назначьте скидку 20% на все товары из таблицы **products** и отберите те, цена на которые с учётом скидки превышает 100 рублей. Выведите id товаров, их наименования, прежнюю цену и новую цену с учётом скидки. Колонку со старой ценой назовите **old_price**, с новой — **new_price**.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**, **old_price**, **new_price**


```sql
SELECT product_id,
       name,
       price AS old_price,
       price - ((price * 1.2) - price) AS new_price
FROM   products
WHERE  price - ((price * 1.2) - price) > 100
ORDER BY product_id
```

**Задание №5**

Отберите из таблицы **products** все товары, названия которых либо начинаются со слова «чай», либо состоят из пяти символов. Выведите две колонки: id товаров и их наименования.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**
```sql
SELECT product_id,
       name
FROM   products
WHERE  split_part(name, ' ', 1) = 'чай'
    or length(name) = 5
ORDER BY product_id
```

**Задание №6**

Отберите из таблицы **products** все товары, содержащие в своём названии последовательность символов «чай» (без кавычек). Выведите две колонки: id продукта и его название.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**
```sql
SELECT product_id,
       name
FROM   products
WHERE  name like '%чай%'
ORDER BY product_id
```

**Задание №7**

Выберите из таблицы **products id** и наименования только тех товаров, названия которых начинаются на букву «с» и содержат только одно слово.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**
```sql
SELECT product_id,
       name
FROM   products
WHERE  name LIKE 'с%' AND name NOT LIKE '% %'
ORDER BY product_id
```

**Задание №8**

Составьте SQL-запрос, который выбирает из таблицы products все чаи стоимостью больше 60 рублей и вычисляет для них цену со скидкой 25%.

Скидку в % менеджер попросил указать в отдельном столбце в формате текста, то есть вот так: «25%» (без кавычек). Столбцы со скидкой и новой ценой назовите соответственно **discount** и **new_price**.

Также необходимо любым известным способом избавиться от «чайного гриба»: вряд ли менеджер имел в виду и его, когда ставил нам задачу.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**, **price**, **discount**, **new_price**
```sql
SELECT product_id,
       name,
       price,
       '25%' AS discount,
       price - ((price * 1.25) - price) AS new_price
FROM   products
WHERE  price > 60
   AND name NOT LIKE '%гриб%'
   AND name LIKE '%чай%'
ORDER BY product_id
```

**Задание №9**

Из таблицы **user_actions** выведите всю информацию о действиях пользователей с id 170, 200 и 230 за период с 25 августа по 4 сентября 2022 года включительно. Результат отсортируйте по убыванию id заказа — то есть от самых поздних действий к самым первым.

Поля в результирующей таблице: **user_id**, **order_id**, **action**, **time**
```sql
SELECT user_id,
       order_id,
       action,
       time
FROM   user_actions
WHERE  user_id in (170, 200, 230)
   AND time BETWEEN '2022-08-25'
   AND '2022-09-05'
ORDER BY time DESC
```

**Задание №10**

Напишите SQL-запрос к таблице **couriers** и выведите всю информацию о курьерах, у которых не указан их день рождения.

Результат должен быть отсортирован по возрастанию id курьера.

Поля в результирующей таблице: **birth_date**, **courier_id**, **sex**
```sql
SELECT birth_date,
       courier_id,
       sex
FROM   couriers
WHERE  birth_date IS NULL
ORDER BY courier_id
```

**Задание №11**

Определите id и даты рождения 50 самых молодых пользователей мужского пола из таблицы **users**. Не учитывайте тех пользователей, у которых не указана дата рождения.

Поле в результирующей таблице: **user_id**, **birth_date**
```sql
SELECT user_id,
       birth_date
FROM   users
WHERE  birth_date IS NOT NULL
   AND sex = 'male'
ORDER BY birth_date DESC
LIMIT 50
```

**Задание №12**

Напишите SQL-запрос к таблице **courier_actions**, чтобы узнать id и время доставки последних 10 заказов, доставленных курьером с id 100.

Поля в результирующей таблице: **order_id**, **time**
```sql
SELECT order_id,
       time
FROM   courier_actions
WHERE  courier_id = '100'
   AND action = 'deliver_order'
ORDER BY time DESC 
LIMIT 10
```

**Задание №13**

Из таблицы **user_actions** получите id всех заказов, сделанных пользователями сервиса в августе 2022 года.

Результат отсортируйте по возрастанию id заказа.

Поле в результирующей таблице: **order_id**
```sql
SELECT order_id
FROM   user_actions
WHERE  action = 'create_order'
   AND date_part('month', time) = '08'
ORDER BY order_id
```

**Задание №14**

Из таблицы **couriers** отберите id всех курьеров, родившихся в период с 1990 по 1995 год включительно.

Результат отсортируйте по возрастанию id курьера.

Поле в результирующей таблице: **courier_id**
```sql
SELECT courier_id
FROM   couriers
WHERE  date_part('year', birth_date) BETWEEN '1990' AND '1995'
ORDER BY courier_id
```

**Задание №15**

Из таблицы **user_actions** получите информацию о всех отменах заказов, которые пользователи совершали в течение августа 2022 года по средам с 12:00 до 15:59.

Результат отсортируйте по убыванию id отменённых заказов.

Поля в результирующей таблице: **user_id**, **order_id**, **action**, **time**
```sql
SELECT user_id,
       order_id,
       action,
       time
FROM   user_actions
WHERE  action = 'cancel_order'
   AND date_part('month', time) = '08'
   AND date_part('dow', time) = '03'
   AND date_part('hour', time) BETWEEN 12
   AND 15
ORDER BY order_id DESC
```

**Задание №16**

Как и в задаче из прошлого урока, вычислите НДС каждого товара в таблице products и рассчитайте цену без учёта НДС. Однако теперь примите во внимание, что для товаров из списка налог составляет 10%. Для остальных товаров НДС тот же — 20%.

Выведите всю информацию о товарах, включая сумму налога и цену без его учёта. Колонки с суммой налога и ценой без НДС назовите соответственно tax и **price_before_tax**. Округлите значения в этих колонках до двух знаков после запятой.

Результат отсортируйте сначала по убыванию цены товара без учёта НДС, затем по возрастанию id товара.

Поля в результирующей таблице: **product_id**, **name**, **price**, **tax**, **price_before_tax**
```sql
SELECT product_id,
       name,
       price,
       
    CASE 
       WHEN name IN ('сахар', 'сухарики', 'сушки', 'семечки', 'масло льняное', 'виноград', 'масло оливковое', 'арбуз', 'батон', 'йогурт', 'сливки', 'гречка', 'овсянка', 'макароны', 'баранина', 'апельсины', 'бублики', 'хлеб', 'горох', 'сметана', 'рыба копченая', 'мука', 'шпроты', 'сосиски', 'свинина', 'рис', 'масло кунжутное', 'сгущенка', 'ананас', 'говядина', 'соль', 'рыба вяленая', 'масло подсолнечное', 'яблоки', 'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 'вафли', 'мандарины') THEN round(price / 110 * 10, 2)
        ELSE round(price / 120 * 20, 2) 
        END AS tax,
       
    CASE 
        WHEN name IN ('сахар', 'сухарики', 'сушки', 'семечки', 'масло льняное', 'виноград', 'масло оливковое', 'арбуз', 'батон', 'йогурт', 'сливки', 'гречка', 'овсянка', 'макароны', 'баранина', 'апельсины', 'бублики', 'хлеб', 'горох', 'сметана', 'рыба копченая', 'мука', 'шпроты', 'сосиски', 'свинина', 'рис', 'масло кунжутное', 'сгущенка', 'ананас', 'говядина', 'соль', 'рыба вяленая', 'масло подсолнечное', 'яблоки', 'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 'вафли', 'мандарины') THEN round(price - price / 110 * 10, 2)
        ELSE round(price - price / 120 * 20, 2) 
        END AS price_before_tax
FROM   products
ORDER BY price_before_tax DESC, product_id;                                                                                                                                        
```